<div id="hospitalDetails" class="d-none d-print-block" id="half-a4-page">
  <form [formGroup]="invoiceForm">
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 text-center text-uppercase">
          <div>
            <h4 class="text-uppercase fw-bolder">SRI LAKSHMI MEDICAL</h4>
            <p class="text-uppercase fw-bolder">
              26/1,Chekku Mettu St, Kallakurichi
            </p>
          </div>
        </div>
      </div>

      <!-- Invoice Details -->
      <div class="row">
        <div class="col-6 text-uppercase">
          <p class="text-uppercase">
            <strong class="text-uppercase">Patient Name:</strong>
            {{ invoiceForm.value.patientName }}
          </p>
          <p>
            <strong class="text-uppercase">PID:</strong>
            {{ invoiceForm.value.pid }}
          </p>
          <p class="text-uppercase">
            <strong class="text-uppercase">Consultant Name:</strong>
            Dr. {{ invoiceForm.value.consultantName }}
          </p>
        </div>
        <div class="col-3" style="margin-left: 20%">
          <p class="text-uppercase">
            <strong class="text-uppercase">Invoice ID:</strong>
            {{ invoiceForm.value.invoiceID }}
          </p>
          <p class="text-uppercase">
            <strong class="text-uppercase">Invoice Date:</strong>
            {{ invoiceForm.value.invoiceDate }}
          </p>
        </div>
      </div>

      <!-- Table for Invoice Items -->
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th class="text-uppercase">S.No</th>
            <th class="text-uppercase">Description</th>
            <th class="text-uppercase">Qty</th>
            <th class="text-uppercase">Batch</th>
            <th class="text-uppercase">Exp</th>
            <th class="text-uppercase">MRP</th>
            <th class="text-uppercase">SGST</th>
            <th class="text-uppercase">Total</th>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr
            *ngFor="let item of items.controls; let i = index"
            [formGroupName]="i"
          >
            <td>{{ i + 1 }}</td>
            <td class="text-uppercase">
              {{ item.get("medicineName")?.value }}
            </td>
            <td class="text-uppercase">
              {{ item.get("quantity")?.value }}
            </td>
            <td class="text-uppercase">
              {{ item.get("batch")?.value }}
            </td>
            <td class="text-uppercase">
              {{ item.get("expiryDate")?.value }}
            </td>
            <td class="text-uppercase">
              {{
                item.get("mrp")?.value | currency : "INR" : "symbol" : "1.2-2"
              }}
            </td>
            <td class="text-uppercase">{{ item.get("sgst")?.value }}%</td>
            <td class="text-uppercase">
              {{
                item.get("total")?.value | currency : "INR" : "symbol" : "1.2-2"
              }}
            </td>
          </tr>
        </tbody>
      </table>
      <div style="margin-left: 80%" class="text-uppercase">
        Total:
        {{
          this.invoiceForm.value.total | currency : "INR" : "symbol" : "1.2-2"
        }}
        <div *ngIf="clickedGSTlink == false" class="text-uppercase">
          Grand Total:
          {{
            this.grandTotalWithOutGst | currency : "INR" : "symbol" : "1.2-2"
          }}
        </div>
        <div *ngIf="clickedGSTlink == true" class="text-uppercase">
          gstAmount:
          {{ this.gstAmount | currency : "INR" : "symbol" : "1.2-2" }}
          <br />
          Grand Total:
          {{
            this.invoiceForm.value.grandTotalWithGST
              | currency : "INR" : "symbol" : "1.2-2"
          }}
        </div>
        <br />
        <br />
        <br />
        <br />
        Signature
      </div>
    </div>
  </form>
</div>

<!-- formarray -->

<div class="card" id="noshow" style="margin-left: 15%">
  <div class="card-body">
    <button
      class="btn btn-dark fw-bolder"
      style="margin-bottom: 1%"
      id="noshow"
      routerLink="/view-bill"
      (click)="removeSessionID()"
    >
      <i class="bi bi-arrow-left"></i> Back
    </button>
    <br />

    <div class="container">
      <form [formGroup]="invoiceForm">
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="customerName" class="fw-bolder">Patient Name</label>
            <input
              type="text"
              formControlName="patientName"
              (input)="onInputChange($event)"
              (keydown)="handlePatientNameKeyDown($event)"
              placeholder="Search for Patient"
              class="form-control fw-bolder"
            />
            <ul *ngIf="suggestionsPatientName.length > 0">
              <li
                *ngFor="let suggestion of suggestionsPatientName; let i = index"
                (click)="onSelectPatientName(suggestion)"
                [class.highlighted]="i === selectedPatientIndex"
              >
                {{ suggestion.patientName }}, {{ suggestion.patientAddress }}
              </li>
            </ul>
            <div
              *ngIf="showCreateNewPatientLink == true"
              [class.highlighted]="selectedPatientIndex === -1"
              (click)="goToPatient()"
              class="fw-bolder"
            >
              Create a new patient
            </div>
            <div
              *ngIf="invoiceForm.get('patientName')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <label for="invoiceDate" class="fw-bolder">Patient Address</label>
            <input
              formControlName="patientAddress"
              type="text"
              class="form-control fw-bolder"
              id="patientAddress"
              style="background-color: lightgray"
            />
            <div
              *ngIf="invoiceForm.get('patientAddress')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-2">
            <label for="invoiceDate" class="fw-bolder">PID</label>
            <input
              formControlName="pid"
              type="text"
              class="form-control fw-bolder"
              id="pid"
              readonly
              style="background-color: lightgray"
            />
            <div
              *ngIf="invoiceForm.get('pid')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <label for="consultantName" class="fw-bolder"
              >Consultant Name</label
            >
            <select
              formControlName="consultantName"
              class="form-control fw-bolder dropdown-toggle text-capitalize"
            >
              <option value="null">Select Consultant</option>
              <option
                *ngFor="let doctor of doctorData"
                [value]="doctor.consultantName"
                selected
              >
                Dr.{{ doctor.consultantName }}
              </option>
            </select>
            <div
              *ngIf="invoiceForm.get('consultantName')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <label for="invoiceDate" class="fw-bolder">Invoice Date</label>
            <input
              formControlName="invoiceDate"
              type="date"
              class="form-control fw-bolder"
              id="invoiceDate"
            />
            <div
              *ngIf="invoiceForm.get('invoiceDate')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <label for="invoiceID" class="fw-bolder">Invoice ID</label>
            <input
              formControlName="invoiceID"
              type="text"
              class="form-control fw-bolder"
              id="invoiceID"
              readonly
              style="background-color: lightgray"
            />
            <div
              *ngIf="invoiceForm.get('invoiceID')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <label for="paymentType" class="fw-bolder">Payment Type</label>
            <select class="form-select fw-bolder" formControlName="paymentType">
              <option value="null">select payment type</option>
              <option value="UPI">UPI</option>
              <option value="CASH">CASH</option>
              <option value="NETBANKING">NETBANKING</option>
              <option value="CARD_DEBIT">CARD_DEBIT</option>
              <option value="CARD_CREDIT">CARD_CREDIT</option>
            </select>
            <div
              *ngIf="invoiceForm.get('paymentType')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <label for="paymentStatus" class="fw-bolder">Payment Status</label>
            <select
              class="form-select fw-bolder"
              formControlName="paymentStatus"
            >
              <option value="null">select payment status</option>
              <option value="PAID">PAID</option>
              <option value="NOT_PAID">NOT PAID</option>
              <option value="PENDING">PENDING</option>
            </select>
            <div
              *ngIf="invoiceForm.get('paymentStatus')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
        </div>
        <hr />
        <div class="col fw-bolder" style="margin-left: 1%">
          Medicine
          <span class="text-capitalize" style="margin-left: 20%"
            >price &#8377;</span
          >
          <span class="text-capitalize" style="margin-left: 8%">quantity</span>
          <span class="text-capitalize" style="margin-left: 7%"
            >MRP &#8377;</span
          >
          <span class="" style="margin-left: 9%">SGST%</span>
          <span class="text-capitalize" style="margin-left: 7.5%"
            >total &#8377;</span
          >
        </div>
        <div formArrayName="items">
          <div
            *ngFor="let item of items.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="row fw-bolder" style="margin-top: 1%">
              {{ i + 1 }})
              <div class="col-3">
                <input
                  type="text"
                  formControlName="medicineName"
                  (keyup)="onSearch($event, i)"
                  (keydown)="handleKeyDown($event, i)"
                  placeholder="Search for medicine"
                  class="form-control fw-bolder"
                />
                <div style="color: red" *ngIf="noStockAlert[i]">
                  no stock available
                </div>

                <!-- Check if suggestions exist and if they have length greater than 0 -->
                <div
                  *ngIf="suggestions[i] && suggestions[i].length > 0"
                  class="suggestion-list"
                >
                  <ul class="list-unstyled">
                    <li
                      *ngFor="let suggestion of suggestions[i]; let j = index"
                      (click)="onSelectMedicine(suggestion, i)"
                      [ngClass]="{ highlighted: selectedSuggestionIndex === j }"
                    >
                      {{ suggestion.medicineName }}
                    </li>
                  </ul>
                </div>

                <!-- If no suggestions and "Create Medicine" link is visible, pressing Enter should trigger it -->
                <div
                  [routerLink]="['/create-medicine']"
                  *ngIf="showCreateNewMedicineLink[i]"
                  [ngClass]="{ highlighted: selectedSuggestionIndex === -1 }"
                  class="fw-bolder"
                >
                  Not found
                </div>
              </div>
              <!-- col -->
              <div class="col">
                <input
                  formControlName="price"
                  placeholder="Price &#8377;"
                  class="form-control fw-bolder"
                  readonly
                  style="background-color: lightgray"
                />
              </div>

              <div class="col">
                <input
                  formControlName="quantity"
                  placeholder="Quantity"
                  type="text"
                  class="form-control fw-bolder"
                  (ngModelChange)="calculateItemTotal(i)"
                  (ngModelChange)="calculateTotal()"
                />
              </div>
              <div class="col">
                <input
                  formControlName="mrp"
                  placeholder="mrp"
                  type="text"
                  class="form-control fw-bolder"
                  readonly
                  style="background-color: lightgray"
                />
              </div>
              <div class="col">
                <input
                  formControlName="sgst"
                  placeholder="sgst"
                  type="text"
                  class="form-control fw-bolder"
                  readonly
                  style="background-color: lightgray"
                />
              </div>

              <div class="col">
                <input
                  formControlName="total"
                  placeholder="Total &#8377; "
                  type="text"
                  class="form-control fw-bolder"
                  (keydown.Tab)="addItem1()"
                  (ngModelChange)="calculateTotals()"
                  readonly
                  style="background-color: lightgray"
                />
              </div>
              <div class="col">
                <button
                  class="btn btn-sm btn-danger fw-bolder"
                  type="button"
                  id="noshow"
                  (click)="deleteItem(i)"
                >
                  <mat-icon>restore_from_trash</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr />

        <div class="fw-bolder">
          <label for="">Total:</label>
          {{
            this.invoiceForm.value.total | currency : "INR" : "symbol" : "1.2-2"
          }}
        </div>
        <div class="text fw-bolder">
          <label for=""
            >GST Amount:
            {{ this.gstAmount | currency : "INR" : "symbol" : "1.2-2" }}</label
          >
        </div>
        <!-- without GST -->
        <div class="fw-bolder">
          <label for="">Grand Total:</label>
          {{
            this.invoiceForm.value.grandTotalWithGST
              | currency : "INR" : "symbol" : "1.2-2"
          }}
        </div>
        <!-- with GST -->
        <button
          class="btn btn-sm btn-secondary fw-bolder"
          (click)="addGST()"
          id="noshow"
          *ngIf="clickedGSTlink == false"
          type="button"
        >
          add gst
        </button>
        <button
          class="btn btn-sm btn-secondary fw-bolder"
          *ngIf="clickedGSTlink == true"
          (click)="removeGST()"
          id="noshow"
          type="button"
        >
          remove gst
        </button>
        <hr />
        <div class="d-flex align-items-center justify-content-center mt-1">
          <!-- Update Button with Save Icon -->
          <button
            class="btn btn-outline-dark btn-sm fw-bolder text-capitalize me-2"
            [disabled]="invoiceForm.invalid"
            (click)="updateInvoice()"
            type="button"
          >
            <i class="bi bi-save" *ngIf="!showProgressBar"></i>
            <!-- Bootstrap 'save' icon -->
            <span *ngIf="!showProgressBar">update</span>
            <div
              class="spinner-border text-light"
              role="status"
              *ngIf="showProgressBar"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>

          <!-- Print Button with Print Icon -->
          <button
            class="btn btn-outline-primary btn-sm fw-bolder"
            (click)="triggerPrint()"
            type="button"
          >
            <i class="bi bi-printer"></i>
            <!-- Bootstrap 'printer' icon -->
            <span>Print</span>
          </button>
        </div>

        <br id="noshow" />
        <div
          class="alert alert-success fw-bolder"
          role="alert"
          id="noshow"
          *ngIf="showAlert"
        >
          Invoice updated!!
        </div>

        <br id="noshow" />
      </form>
    </div>
  </div>
</div>
