/* Add this to your global stylesheet or a dedicated print stylesheet */

/* Hide elements during print */
@media print {
  * {
    font-size: 14px;
  }

  @page {
    margin: 0; /* Remove default page margins */
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    page-break-inside: avoid;
  }

  half-a4-page {
    width: 21cm; /* A4 width */
    height: 14.85cm; /* Half of A4 height */
    margin: 0; /* No margin */
    padding: 0;
    page-break-after: always; /* Ensure each section is printed on separate pages */
    transform: scale(0.9); /* Scale down content if necessary */
    transform-origin: top left;
  }

  .col-md-3,
  .col-md-6,
  .col-md-2 {
    /* Adjust for your column sizes */
    width: 33%; /* 3 columns in a row, adjust as per your grid */
    box-sizing: border-box;
    padding: 5px; /* Ensure padding for better spacing */
  }

  .col-md-12 {
    width: 100%;
  }

  /* Hide the sidemenu */
  .sidemenu {
    display: none;
  }

  /* Hide input borders */
  input,
  select,
  textarea .button label .fw-lighter {
    border: none;
    box-shadow: none;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: normal;
  }

  /* Hide other elements if needed */
  .other-class-to-hide {
    display: none;
  }

  /* Ensure the layout adjusts to print correctly */
  .modal-body {
    margin-right: 0;
    padding: 0;
    border: none;
  }

  /* Additional print-specific adjustments */

  #noshow {
    display: none;
  }
}

.suggestion-list {
  position: absolute; /* Ensure it overlaps correctly */
  background: white; /* Background to make text readable */
  z-index: 1000; /* Ensure it's above other elements */
}

.highlighted {
  background-color: #007bff; /* Change to your preferred highlight color */
  color: white; /* Change text color if needed */
}

.selected {
  background-color: #007bff; /* Change this color as needed */
  color: white; /* Change this color for better contrast */
}
