/* Add this to your global stylesheet or a dedicated print stylesheet */

/* Hide elements during print */
@media print {
  .row {
    display: flex;
    flex-wrap: wrap;
    page-break-inside: avoid;
  }

  .col-md-3,
  .col-md-6,
  .col-md-2 {
    /* Adjust for your column sizes */
    width: 33%; /* 3 columns in a row, adjust as per your grid */
    box-sizing: border-box;
    padding: 5px; /* Ensure padding for better spacing */
  }

  .col-md-12 {
    width: 100%;
  }

  /* Hide the sidemenu */
  .sidemenu {
    display: none;
  }

  /* Hide input borders */
  input,
  select,
  textarea .button label .fw-lighter {
    border: none;
    box-shadow: none;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: normal;
    font-size: 10px;
  }

  /* Hide other elements if needed */
  .other-class-to-hide {
    display: none;
  }

  /* Ensure the layout adjusts to print correctly */
  .modal-body {
    margin-right: 0;
    padding: 0;
    border: none;
  }

  /* Additional print-specific adjustments */
  @page {
    size: A4;
    margin: 20mm;
  }
  #noshow {
    display: none;
  }
}

/* In your component's CSS file (e.g., invoice-dashboard.component.css) */

@media print {
  .sidemenu {
    display: none;
  }

  input,
  select,
  textarea {
    border: none;
    box-shadow: none;
    border: none;
    box-shadow: none;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: normal;
    font-size: 10px;
  }

  .modal-body {
    margin: 0;
    padding: 0;
  }

  label {
    font-size: 10px;
  }
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures there are no gaps between cells */
}

th,
td {
  padding: 4px 8px; /* Reduce padding */
  font-size: 12px; /* Reduce font size */
}

th {
  text-align: left;
  background-color: #f2f2f2;
}

td {
  border: 1px solid #ddd; /* Optional: add border to distinguish cells */
}

table {
  max-width: 100%; /* Ensure the table does not exceed the parent container */
}

.suggestion-list {
  position: absolute; /* Ensure it overlaps correctly */
  background: white; /* Background to make text readable */
  z-index: 1000; /* Ensure it's above other elements */
}

.highlighted {
  background-color: #007bff; /* Change to your preferred highlight color */
  color: white; /* Change text color if needed */
}

.selected {
  background-color: #007bff; /* Change this color as needed */
  color: white; /* Change this color for better contrast */
}
