<div class="container" style="margin-left: 20%; width: 80%">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New Patient</h5>
      <form [formGroup]="patientForm">
        <div class="row">
          <!-- title -->
          <div class="col-md-2 mb-3">
            <label
              for="patientName"
              class="form-label fw-lighter text-capitalize"
              >title</label
            >
            <select
              id="title"
              class="form-control fw-lighter text-capitalize"
              formControlName="title"
            >
              <option value="null">choose...</option>
              <option>Mr.</option>
              <option>Mrs.</option>
              <option>Miss.</option>
              <option>Master.</option>
            </select>
            <div
              *ngIf="
                patientForm.get('title')?.invalid ||
                !patientForm.get('title')?.dirty
              "
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <!-- Patient Name -->
          <div class="col-md-4 mb-3">
            <label for="patientName" class="form-label fw-lighter"
              >Patient Name</label
            >
            <input
              type="text"
              class="form-control fw-lighter text-capitalize"
              id="patientName"
              placeholder="Enter patient name"
              formControlName="patientName"
            />
            <div
              *ngIf="patientForm.get('patientName')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>

          <!-- Gender -->
          <div class="col-md-3 mb-3">
            <label for="gender" class="form-label fw-lighter text-capitalize"
              >Gender</label
            >
            <select
              id="title"
              class="form-control fw-lighter text-capitalize"
              formControlName="gender"
            >
              <option value="null">choose...</option>
              <option>male</option>
              <option>female</option>
            </select>
            <div
              *ngIf="patientForm.get('gender')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>

          <!-- dob -->
          <div class="col-md-2 mb-3">
            <label for="age" class="form-label fw-lighter text-capitalize"
              >age</label
            >
            <input
              type="text"
              class="form-control fw-lighter text-capitalize"
              id="age"
              placeholder="age"
              formControlName="age"
            />
            <div
              *ngIf="patientForm.get('age')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>

          <div class="row">
            <!-- Phone Number -->
            <div class="col-md-3 mb-3">
              <label for="phoneNumber" class="form-label fw-lighter"
                >Phone Number</label
              >
              <input
                type="number"
                class="form-control fw-lighter"
                id="phoneNumber"
                placeholder="Enter phone number"
                formControlName="patientPhoneNumber"
              />
              <div
                *ngIf="patientForm.get('patientPhoneNumber')?.invalid"
                style="color: red"
              >
                <small
                  *ngIf="patientForm.get('patientPhoneNumber')?.errors?.['required']"
                  style="color: red"
                  >Required</small
                >
                <small
                  *ngIf="patientForm.get('patientPhoneNumber')?.errors?.['pattern']"
                  style="color: red"
                  >Phone number must be 10 digits.</small
                >
              </div>
            </div>
            <!-- father name -->
            <div class="col-md-3 mb-3">
              <label for="fatherName" class="form-label fw-lighter"
                >Father Name</label
              >
              <input
                type="text"
                class="form-control fw-lighter text-capitalize"
                id="fatherName"
                placeholder="Enter Patient's Father Name"
                formControlName="fatherName"
              />
              <div
                *ngIf="patientForm.get('fatherName')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="address" class="form-label fw-lighter">Address</label>
              <input
                type="text"
                class="form-control fw-lighter text-capitalize"
                id="address"
                placeholder="Enter address"
                formControlName="patientAddress"
              />
              <div
                *ngIf="patientForm.get('patientAddress')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>

          <!-- admissionDate -->
          <div class="col-md-3 mb-3">
            <label
              for="admissionDate"
              class="form-label fw-lighter text-capitalize"
              >visit Date</label
            >
            <input
              type="date"
              class="form-control fw-lighter"
              id="visitDate"
              formControlName="visitDate"
            />
            <div
              *ngIf="patientForm.get('visitDate')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <!-- pid -->
          <div class="col-md-3 mb-3">
            <label for="pid" class="form-label fw-lighter">PID</label>
            <input
              type="text"
              class="form-control fw-lighter"
              id="pincode"
              placeholder="PatientID"
              formControlName="pid"
              style="background-color: lightgray"
              readonly
            />
            <div
              *ngIf="patientForm.get('pid')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="pid" class="form-label fw-lighter"
              >Consultant Name</label
            >
            <select
              formControlName="consultantName"
              class="form-control fw-lighter dropdown-toggle text-capitalize"
            >
              <option value="null">Select Consultant</option>
              <option
                *ngFor="let doctor of doctorData"
                [value]="doctor.consultantName"
                selected
              >
                Dr.{{ doctor.consultantName }}
              </option>
            </select>
            <div
              *ngIf="patientForm.get('consultantName')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3">
            <label class="form-label fw-lighter" style="font-size: 15px"
              >Appointment type</label
            >
            <select
              formControlName="type"
              class="form-control fw-lighter dropdown-toggle text-capitalize"
            >
              <option value="null">Choose...</option>
              <option>OP</option>
              <option>IP</option>
            </select>
            <div
              *ngIf="patientForm.get('type')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label class="form-label fw-lighter text-capitalize"
              >symptoms</label
            >
            <textarea
              class="form-control fw-lighter"
              formControlName="symptoms"
              rows="2"
            ></textarea>
            <div
              *ngIf="patientForm.get('symptoms')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label class="form-label fw-lighter">BP</label>
            <input
              type="text"
              class="form-control fw-lighter"
              formControlName="bp"
            />
          </div>
          <div class="col-md-2 mb-3">
            <label class="form-label fw-lighter text-capitalize">sp02</label>
            <input
              type="text"
              class="form-control fw-lighter"
              formControlName="sp02"
            />
          </div>
          <div class="col-md-2 mb-3">
            <label class="form-label fw-lighter text-capitalize">pulse</label>
            <input
              type="text"
              class="form-control fw-lighter"
              formControlName="pulse"
            />
          </div>
          <div class="col-md-2 mb-3">
            <label class="form-label fw-lighter text-capitalize">Sugar</label>
            <input
              type="text"
              class="form-control fw-lighter"
              formControlName="sugar"
            />
          </div>
        </div>

        <div class="align-items-center align-text-center mt-1">
          <!--             -->
          <button
            class="btn btn-success btn-sm d-flex align-items-center justify-content-center fw-lighter"
            [disabled]="patientForm.invalid"
            (click)="onSubmit()"
          >
            <mat-icon *ngIf="!showProgressBar">save</mat-icon>
            <span *ngIf="!showProgressBar">Save</span>
            <div
              class="spinner-border text-light"
              role="status"
              *ngIf="showProgressBar"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
  <button
    style="margin-top: 1%"
    (click)="refresh()"
    class="btn btn-secondary btn-sm d-flex align-items-center justify-content-center fw-lighter"
  >
    <mat-icon>refresh</mat-icon>
  </button>

  <div class="alert alert-success fw-lighter" role="alert" *ngIf="showAlert">
    Patient entry has been completed
    <button
      type="button"
      class="btn btn-link fw-lighter"
      [routerLink]="['/create-bill']"
    >
      go to create bill
    </button>
    <button
      type="button"
      class="btn btn-link fw-lighter"
      [routerLink]="['/manage-patient']"
    >
      view patients
    </button>
  </div>
  <div
    class="alert alert-danger fw-lighter"
    role="alert"
    *ngIf="showExistAlert"
  >
    Patient entry exist!
    <button
      type="button"
      class="btn btn-link fw-lighter"
      [routerLink]="['/create-bill']"
    >
      go to create bill
    </button>
    <button
      type="button"
      class="btn btn-link fw-lighter"
      [routerLink]="['/manage-patient']"
    >
      view patients
    </button>
  </div>
</div>
