<div class="container" style="margin-left: 20%; width: 80%; padding: 2%">
  <form [formGroup]="doctorForm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Doctor Registration</h5>
        <div class="row">
          <div class="col">
            <label for="title" class="fw-lighter">Title</label>
            <select
              id="title"
              class="form-control fw-lighter text-capitalize"
              formControlName="title"
            >
              <option value="null">Choose title</option>
              <option>Mr.</option>
              <option>Mrs.</option>
              <option>Miss.</option>
            </select>
            <div
              *ngIf="
                doctorForm.get('title')?.invalid ||
                !doctorForm.get('title')?.dirty
              "
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>

          <div class="col">
            <label for="ConsultantName" class="fw-lighter text-capitalize"
              >Consultant Name</label
            >
            <input
              type="text"
              class="form-control fw-lighter text-capitalize"
              placeholder="Consultant Name"
              formControlName="consultantName"
            />
            <div
              *ngIf="doctorForm.get('consultantName')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="consultantSpecialty" class="fw-lighter text-capitalize"
              >Speciality</label
            >

            <input
              type="text"
              class="form-control fw-lighter text-capitalize"
              placeholder="speciality"
              formControlName="speciality"
            />

            <div
              *ngIf="
                doctorForm.get('speciality')?.invalid ||
                !doctorForm.get('speciality')?.dirty
              "
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col">
            <label for="phoneNumber" class="fw-lighter">Phone</label>

            <input
              type="text"
              class="form-control fw-lighter text-capitalize"
              placeholder="Phone"
              formControlName="phone"
            />
            <div *ngIf="doctorForm.get('phone')?.invalid" style="color: red">
              <small
                *ngIf="doctorForm.get('phone')?.errors?.['required']"
                style="color: red"
                >Required</small
              >
              <small
                *ngIf="doctorForm.get('phone')?.errors?.['pattern']"
                style="color: red"
                >Phone number must be 10 digits.</small
              >
            </div>
          </div>
          <div class="col">
            <label for="Address" class="fw-lighter text-capitalize"
              >Address</label
            >

            <input
              type="text"
              class="form-control fw-lighter text-capitalize"
              placeholder="Address"
              formControlName="address"
            />
            <div
              *ngIf="doctorForm.get('address')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
        </div>
        <div class="align-items-center align-text-center mt-1">
          <button
            class="btn btn-success btn-sm d-flex align-items-center justify-content-center fw-lighter"
            [disabled]="doctorForm.invalid"
            (click)="onSubmit()"
          >
            <mat-icon *ngIf="!showProgressBar">save</mat-icon>
            <span *ngIf="!showProgressBar">Save</span>
            <div
              class="spinner-border text-light"
              role="status"
              *ngIf="showProgressBar"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </form>
  <br />
  <div class="container">
    <div class="alert alert-success fw-lighter" role="alert" *ngIf="showAlert">
      <h6 class="alert-heading fw-lighter">Doctor added!</h6>
    </div>
  </div>
</div>
