<div class="card" style="margin-left: 17%; width: 90%">
  <div class="container fw-lighter">
    <h5 class="mb-4 fw-bolder"></h5>
    <!-- Search input -->
    <div class="row">
      <div class="col-3">
        <input
          type="text"
          class="form-control fw-lighter mb-2"
          placeholder="Search..."
          aria-label="search"
          [(ngModel)]="search"
        />
      </div>
      <div class="col"></div>
    </div>

    <div class="fw-bolder text-capitalize">
      <u>Medicine</u> : {{ totalNumberOfEntries }}
    </div>
    <br />
    <!-- Table -->
    <table
      class="table table-bordered table-striped fw-lighter"
      *ngIf="medicineData.length > 0; else no_data_content"
    >
      <thead class="thead-dark">
        <tr>
          <th class="fw-lighter text-capitalize">#</th>
          <th class="fw-lighter text-capitalize">Medicine Name</th>
          <th class="fw-lighter text-capitalize">Price (&#8377;)</th>
          <th class="fw-lighter text-capitalize">Quantity</th>
          <th class="fw-lighter text-capitalize">Expiry Date</th>
          <th colspan="2" class="fw-lighter text-capitalize">edit</th>
          <th class="fw-lighter text-capitalize">delete</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr
          *ngFor="
            let medicine of medicineData
              | search : search
              | paginate : { itemsPerPage: 10, currentPage: p };
            let i = index
          "
        >
          <td class="fw-lighter text-capitalize">{{ i + 1 }}</td>
          <td class="fw-lighter text-capitalize">
            {{ medicine.medicineName }}
          </td>
          <td class="fw-lighter text-capitalize">
            {{ medicine.price }}
          </td>
          <td class="fw-lighter text-capitalize">{{ medicine.quantity }}</td>

          <td class="fw-lighter text-capitalize">{{ medicine.expiryDate }}</td>
          <td class="fw-lighter text-capitalize" colspan="2">
            <button
              class="btn btn-sm btn-success text-capitalize fw-lighter"
              (click)="editMedicineById(medicine._id)"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
            >
              edit
            </button>
          </td>
          <td>
            <button
              class="btn btn-sm btn-danger text-capitalize fw-lighter"
              (click)="deleteMedicineById(medicine._id)"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #no_data_content class="fw-bolder"
      >No Medicine data available</ng-template
    >
    <pagination-controls
      (pageChange)="p = $event"
      *ngIf="medicineData.length > 0"
    ></pagination-controls>
  </div>
</div>

<!-- edit patient -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModal"
  aria-hidden="true"
>
  <div class="modal-dialog" style="width: 200%">
    <div class="modal-content" style="width: 130%">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModal">Edit Medicine</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="editSessionByID()"
        ></button>
      </div>
      <div class="modal-body">
        <!-- edit -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="container">
              <form [formGroup]="pharmacyForm">
                <div class="container">
                  <div class="row">
                    <!-- Medicine Name -->
                    <div class="col">
                      <div class="form-group">
                        <label
                          for="medicineName"
                          class="fw-lighter text-capitalize"
                          >Medicine Name</label
                        >
                        <input
                          id="medicineName"
                          formControlName="medicineName"
                          class="form-control fw-lighter text-capitalize"
                          placeholder="Enter medicine name"
                        />
                        <div
                          *ngIf="pharmacyForm.get('medicineName')?.invalid"
                          style="color: red; font-size: small"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- Quantity -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="quantity" class="fw-lighter text-capitalize"
                          >Quantity</label
                        >
                        <input
                          id="quantity"
                          formControlName="quantity"
                          class="form-control fw-lighter text-capitalize"
                          placeholder="Enter quantity"
                        />
                        <div
                          *ngIf="pharmacyForm.get('quantity')?.invalid"
                          style="color: red; font-size: small"
                        >
                          Required
                        </div>
                      </div>
                    </div>

                    <!-- Price -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="price" class="fw-lighter text-capitalize"
                          >Price &#8377;</label
                        >
                        <input
                          id="price"
                          formControlName="price"
                          class="form-control fw-lighter text-capitalize"
                          placeholder="Enter price &#8377;"
                        />
                        <div
                          *ngIf="pharmacyForm.get('price')?.invalid"
                          style="color: red; font-size: small"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                    <!-- expiry date -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="price" class="fw-lighter"
                          >Expiry Date</label
                        >
                        <input
                          id="expiryDate"
                          formControlName="expiryDate"
                          class="form-control fw-lighter"
                          placeholder="Enter expiry date"
                          type="date"
                        />
                      </div>
                      <div
                        *ngIf="pharmacyForm.get('expiryDate')?.invalid"
                        style="color: red; font-size: small"
                      >
                        Required
                      </div>
                    </div>
                  </div>

                  <br />
                  <!-- Submit Button -->
                  <button
                    class="btn btn-success btn-sm d-flex align-items-center justify-content-center fw-lighter"
                    [disabled]="pharmacyForm.invalid"
                    (click)="updateChanges()"
                  >
                    <mat-icon *ngIf="!showProgressBar">save</mat-icon>
                    <span *ngIf="!showProgressBar">Save</span>
                    <div
                      class="spinner-border text-light"
                      role="status"
                      *ngIf="showProgressBar"
                    >
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="container">
            <div
              class="alert alert-success fw-lighter text-capitalize"
              role="alert"
              *ngIf="showAlert"
            >
              <p class="alert-heading fw-lighter">
                Success! Medicine details has been updated
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="editSessionByID()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog to delete patient -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5 fw-lighter text-capitalize"
          id="deleteModal"
        >
          Delete Medicine
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="deleteSessionByID()"
        ></button>
      </div>
      <div class="modal-body fw-lighter">
        Are you sure, you want to delete the Medicine entry?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger btn-sm fw-lighter text-capitalize"
          (click)="deleteMedicine()"
        >
          <span *ngIf="!showDeleteProgressBar">yes</span>
          <div
            class="spinner-border text-light"
            role="status"
            *ngIf="showDeleteProgressBar"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary fw-lighterm text-capitalize"
          data-bs-dismiss="modal"
          #closeModal
          (click)="deleteSessionByID()"
        >
          no
        </button>
      </div>
    </div>
  </div>
</div>
