.scrolling-reminders {
  background-color: #f8f9fa; /* Light background for visibility */
  padding: 1px;
  margin-bottom: 15px;
  font-weight: bold;
}

marquee {
  color: #dc3545; /* Bootstrap danger color for alerts */
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures there are no gaps between cells */
}

th,
td {
  padding: 4px 8px; /* Reduce padding */
  font-size: 14px; /* Reduce font size */
}

th {
  text-align: left;
  background-color: #f2f2f2;
}

td {
  border: 1px solid #ddd; /* Optional: add border to distinguish cells */
}

table {
  max-width: 100%; /* Ensure the table does not exceed the parent container */
}

.suggestion-list {
  position: absolute; /* Ensure it overlaps correctly */
  background: white; /* Background to make text readable */
  z-index: 1000; /* Ensure it's above other elements */
}

.highlighted {
  background-color: #007bff; /* Change to your preferred highlight color */
  color: white; /* Change text color if needed */
}

.selected {
  background-color: #007bff; /* Change this color as needed */
  color: white; /* Change this color for better contrast */
}
