<div style="margin-left: 20%">
  <button
    class="btn btn-dark fw-bolder"
    style="margin-bottom: 1%"
    routerLink="/invoice-home"
  >
    <i class="bi bi-arrow-left"></i> Back
  </button>
</div>

<div class="card" style="width: 80%; margin-left: 20%">
  <div class="card-body fw-bolder">
    <h3 class="fw-bolder text-capitalize">Add new medicine</h3>
    <br />
    <form [formGroup]="pharmacyForm">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <label for="supplierName" class="fw-bolder text-capitalize"
              >Supplier Name</label
            >
            <input
              id="supplierName"
              formControlName="supplierName"
              class="form-control fw-bolder text-capitalize"
              placeholder="Enter supplier name"
            />
            <div
              *ngIf="pharmacyForm.get('supplierName')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-3">
            <label for="supplierAddress" class="fw-bolder text-capitalize"
              >Supplier Address</label
            >
            <input
              id="supplierAddress"
              formControlName="supplierAddress"
              class="form-control fw-bolder text-capitalize"
              placeholder="Enter supplier address"
            />
            <div
              *ngIf="pharmacyForm.get('supplierAddress')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-3">
            <label for="supplierPhone" class="fw-bolder text-capitalize"
              >Supplier Phone</label
            >
            <input
              id="supplierPhone"
              formControlName="supplierPhone"
              class="form-control fw-bolder text-capitalize"
              placeholder="Enter supplier phone"
            />
            <div
              *ngIf="pharmacyForm.get('supplierPhone')?.invalid"
              style="color: red"
            >
              <small
                *ngIf="pharmacyForm.get('supplierPhone')?.errors?.['required']"
                style="color: red"
                >Required</small
              >
              <small
                *ngIf="pharmacyForm.get('supplierPhone')?.errors?.['pattern']"
                style="color: red"
                >Phone number must be 10 digits.</small
              >
            </div>
          </div>
          <div class="col-3"></div>
        </div>
        <div class="row">
          <!-- Medicine Name -->
          <div class="col-3">
            <div class="form-group">
              <label for="medicineName" class="fw-bolder text-capitalize"
                >Medicine Name</label
              >
              <input
                id="medicineName"
                formControlName="medicineName"
                class="form-control fw-bolder text-capitalize"
                placeholder="Enter medicine name"
              />
              <div
                *ngIf="pharmacyForm.get('medicineName')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="batch" class="fw-bolder text-capitalize">Batch</label>
              <input
                id="batch"
                formControlName="batch"
                class="form-control fw-bolder text-capitalize"
                placeholder="Enter batch"
              />
              <div
                *ngIf="pharmacyForm.get('batch')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="pack" class="fw-bolder text-capitalize">Pack</label>
              <input
                id="pack"
                formControlName="pack"
                class="form-control fw-bolder text-capitalize"
                placeholder="Enter pack"
              />
              <div
                *ngIf="pharmacyForm.get('pack')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="hsn_code" class="fw-bolder text-capitalize"
                >HSN code</label
              >
              <input
                id="batch"
                formControlName="hsn_code"
                class="form-control fw-bolder text-capitalize"
                placeholder="Enter hsn_code"
              />
              <div
                *ngIf="pharmacyForm.get('hsn_code')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Quantity -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="quantity" class="fw-bolder text-capitalize"
                >Quantity</label
              >
              <input
                id="quantity"
                type="number"
                formControlName="quantity"
                class="form-control fw-bolder text-capitalize"
                placeholder="Enter quantity"
              />
              <div
                *ngIf="pharmacyForm.get('quantity')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>

          <!-- Price -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="price" class="fw-bolder text-capitalize"
                >Price/Rate &#8377;</label
              >
              <input
                id="price"
                formControlName="price"
                class="form-control fw-bolder text-capitalize"
                placeholder="Enter price/rate &#8377;"
                (ngModelChange)="calculatePerQun()"
                (change)="onPriceChange($event)"
              />
              <div
                *ngIf="pharmacyForm.get('price')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>

          <!-- expiry date -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="price" class="fw-bolder">Expiry Date</label>
              <input
                id="expiryDate"
                formControlName="expiryDate"
                class="form-control fw-bolder"
                placeholder="Enter expiry date"
                type="date"
              />
            </div>
            <div
              *ngIf="pharmacyForm.get('expiryDate')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="price" class="fw-bolder">SGST %</label>
              <input
                id="expiryDate"
                formControlName="sgst"
                class="form-control fw-bolder"
                placeholder="Enter sgst %"
                type="number"
              />
            </div>
            <div
              *ngIf="pharmacyForm.get('sgst')?.invalid"
              style="color: red; font-size: small"
            >
              Required
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="quantity" class="fw-bolder">MID</label>
              <input
                id="mid"
                formControlName="mid"
                class="form-control fw-bolder text-capitalize"
                placeholder="mid"
                readonly
                style="background-color: lightgray"
              />
              <div
                *ngIf="pharmacyForm.get('mid')?.invalid"
                style="color: red; font-size: small"
              >
                Required
              </div>
            </div>
          </div>
        </div>

        <br />
        <!-- Submit Button -->
        <button
          class="btn btn-success btn-sm d-flex align-items-center justify-content-center fw-bolder"
          [disabled]="pharmacyForm.invalid"
          (click)="createMedicine()"
        >
          <i class="bi bi-save me-2" *ngIf="!showProgressBar"></i>
          <!-- Bootstrap Save Icon -->
          <span *ngIf="!showProgressBar">Save</span>
          <div
            class="spinner-border text-light"
            role="status"
            *ngIf="showProgressBar"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="alert alert-success fw-bolder" role="alert" *ngIf="showAlert">
      Entry has been completed
    </div>
    <div
      class="alert alert-danger fw-bolder"
      role="alert"
      *ngIf="showExistAlert"
    >
      Entry already exist!
    </div>
  </div>
</div>
