<!-- modal dialog to delete patient -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bolder text-capitalize" id="deleteModal">
          Delete Invoice
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="deleteSessionByID()"
        ></button>
      </div>
      <div class="modal-body fw-bolder">
        Are you sure, you want to delete the invoice entry?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger btn-sm fw-bolder text-capitalize"
          (click)="deleteInvoice()"
        >
          <span *ngIf="!showDeleteProgressBar">yes</span>
          <div
            class="spinner-border text-light"
            role="status"
            *ngIf="showDeleteProgressBar"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-dark fw-bolderm text-capitalize"
          data-bs-dismiss="modal"
          #closeModal
          (click)="deleteSessionByID()"
        >
          no
        </button>
      </div>
    </div>
  </div>
</div>

<!-- report -->
<div class="container" style="width: 93%; margin-left: 15%">
  <button
    class="btn btn-dark fw-bolder"
    style="margin-bottom: 1%"
    routerLink="/invoice-home"
  >
    <i class="bi bi-arrow-left"></i> Back
  </button>
  <hr />
  <h4 class="fw-bolder">Purchase Order Management</h4>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button fw-bolder"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Total PO's Created Today : {{ totalNumberOfEntries }}
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse fw-bolder"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body fw-bolder">
          <!--  -->
          <div class="card" id="noshow">
            <br />
            <div class="container fw-bolder">
              <div class="row">
                <div class="col-3">
                  <input
                    type="text"
                    class="form-control fw-bolder mb-2"
                    placeholder="Search..."
                    aria-label="search"
                    [(ngModel)]="search"
                  />
                </div>
                <div class="col"></div>
              </div>

              <div class="fw-bolder text-capitalize">
                <u>Invoices</u> : {{ totalNumberOfEntries }}
              </div>
              <br />
              <!-- Table -->
              <table
                class="table table-bordered table-striped fw-bolder"
                *ngIf="invoiceData.length > 0; else no_data_content"
              >
                <thead class="thead-dark">
                  <tr>
                    <th class="fw-bolder text-capitalize">#</th>
                    <th class="fw-bolder text-capitalize">Invoice ID</th>
                    <th class="fw-bolder text-capitalize">Created Date</th>
                    <th class="fw-bolder text-capitalize">Supplier Name</th>
                    <th class="fw-bolder text-capitalize">Payment Type</th>
                    <th class="fw-bolder text-capitalize">Payment Status</th>
                    <th class="fw-bolder text-capitalize">Total</th>
                    <th class="fw-bolder text-capitalize">view</th>
                    <th class="fw-bolder text-capitalize">delete</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  <tr
                    *ngFor="
                      let medicine of invoiceData
                        | search : search
                        | paginate : { itemsPerPage: 10, currentPage: p };
                      let i = index
                    "
                  >
                    <td class="fw-bolder text-capitalize">{{ i + 1 }}</td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.invoiceID }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.invoiceDate }}
                    </td>

                    <td class="fw-bolder text-capitalize">
                      {{ medicine.supplierName }}
                    </td>

                    <td class="fw-bolder text-capitalize">
                      {{ medicine.paymentType }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.paymentStatus }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{
                        medicine.grandTotalWithGST
                          | currency : "INR" : "symbol" : "1.2-2"
                      }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      <button
                        class="btn btn-sm btn-outline-dark text-capitalize fw-bolder"
                        data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        (click)="viewInvoice(medicine._id)"
                      >
                        view
                      </button>
                    </td>
                    <td>
                      <button
                        class="btn btn-sm btn-danger text-capitalize fw-bolder"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        (click)="deleteMedicineById(medicine._id)"
                      >
                        delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #no_data_content class="fw-bolder"
                >No PO</ng-template
              >
              <pagination-controls
                (pageChange)="p = $event"
                *ngIf="invoiceData.length > 0"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed fw-bolder"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Search by Specific Critiera
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body fw-bolder">
          <form (ngSubmit)="searchInvoices()" [formGroup]="searchForm">
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <label for="paymentType">Payment Type</label>
                  <select
                    id="paymentStatus"
                    class="form-control"
                    formControlName="paymentType"
                    name="paymentStatus"
                  >
                    <option value="" disabled>Select Payment Status</option>
                    <option
                      *ngFor="let status of paymentTypes"
                      [value]="status"
                    >
                      {{ status }}
                    </option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="paymentStatus">Payment Status</label>
                  <select
                    id="paymentStatus"
                    class="form-control"
                    formControlName="paymentStatus"
                    name="paymentStatus"
                  >
                    <option value="" disabled>Select Payment Status</option>
                    <option
                      *ngFor="let status of paymentStatuses"
                      [value]="status"
                    >
                      {{ status }}
                    </option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="supplierName">SupplierName</label>
                  <input
                    type="text"
                    formControlName="supplierName"
                    (input)="onInputChange($event)"
                    (keydown)="handlePatientNameKeyDown($event)"
                    placeholder="Search for Supplier"
                    class="form-control fw-bolder"
                  />
                  <ul *ngIf="suggestionsPatientName.length > 0">
                    <li
                      *ngFor="
                        let suggestion of suggestionsPatientName;
                        let i = index
                      "
                      (click)="onSelectPatientName(suggestion)"
                      [class.highlighted]="i === selectedPatientIndex"
                    >
                      {{ suggestion.supplierName }},
                      {{ suggestion.supplierAddress }}
                    </li>
                  </ul>
                  <div
                    *ngIf="showCreateNewPatientLink == true"
                    [class.highlighted]="selectedPatientIndex === -1"
                    class="fw-bolder"
                  >
                    Not found
                  </div>
                  <div
                    *ngIf="invoiceForm.get('supplierName')?.invalid"
                    style="color: red; font-size: small"
                  >
                    Required
                  </div>
                </div>
              </div>
            </div>
            <br />

            <div class="col-4">
              <label for="invoiceDate">Invoice Date (MM-dd-yyyy)</label>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  name="date"
                  formControlName="invoiceDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <button type="submit" class="btn btn-outline-dark fw-bolder">
                Search Invoices
              </button>
              <div
                class="spinner-border text-light"
                role="status"
                *ngIf="showProgressBar"
                style="background-color: black"
              >
                <span class="visually-hidden" style="background-color: black"
                  >Loading...</span
                >
              </div>

              <hr />
            </div>
          </form>

          <div class="card" id="noshow">
            <div class="container fw-bolder">
              <h5 class="mb-4 fw-bolder"></h5>
              <!-- Search input -->
              <div class="row">
                <div class="col-3">
                  <input
                    type="text"
                    class="form-control fw-bolder mb-2"
                    placeholder="Search..."
                    aria-label="search"
                    [(ngModel)]="search"
                  />
                </div>
                <div class="col"></div>
              </div>

              <div class="fw-bolder text-capitalize">
                <u>Invoices</u> : {{ totalNumberOfEntriesForSpecific }}
              </div>
              <br />
              <!-- Table -->
              <table
                class="table table-bordered table-striped fw-bolder"
                *ngIf="
                  totalNumberOfEntriesForSpecific > 0;
                  else no_data_content
                "
              >
                <thead class="thead-dark">
                  <tr>
                    <th class="fw-bolder text-capitalize">#</th>
                    <th class="fw-bolder text-capitalize">Invoice ID</th>
                    <th class="fw-bolder text-capitalize">Created Date</th>
                    <th class="fw-bolder text-capitalize">Supplier Name</th>
                    <th class="fw-bolder text-capitalize">Payment Type</th>
                    <th class="fw-bolder text-capitalize">Payment Status</th>
                    <th class="fw-bolder text-capitalize">Total</th>
                    <th class="fw-bolder text-capitalize">view</th>
                    <th class="fw-bolder text-capitalize">delete</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  <tr
                    *ngFor="
                      let medicine of groupedInvoicesBySpecificDate
                        | search : search
                        | paginate : { itemsPerPage: 10, currentPage: p };
                      let i = index
                    "
                  >
                    <td class="fw-bolder text-capitalize">{{ i + 1 }}</td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.invoiceID }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.invoiceDate }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.supplierName }}
                    </td>

                    <td class="fw-bolder text-capitalize">
                      {{ medicine.paymentType }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.paymentStatus }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{
                        medicine.grandTotalWithGST
                          | currency : "INR" : "symbol" : "1.2-2"
                      }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      <button
                        class="btn btn-sm btn-outline-darktext-capitalize fw-bolder"
                        (click)="viewInvoice(medicine._id)"
                      >
                        view
                      </button>
                    </td>
                    <td>
                      <button
                        class="btn btn-sm btn-danger text-capitalize fw-bolder"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        (click)="deleteMedicineById(medicine._id)"
                      >
                        delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #no_data_content class="fw-bolder"
                >No Invoices</ng-template
              >
              <pagination-controls
                (pageChange)="p = $event"
                *ngIf="groupedInvoicesBySpecificDate.length > 0"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed fw-bolder"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          All PO's
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExampleThree"
      >
        <div class="accordion-body fw-bolder">
          <div class="card" id="noshow">
            <div class="container fw-bolder">
              <h5 class="mb-4 fw-bolder"></h5>
              <!-- Search input -->
              <div class="row">
                <div class="col-3">
                  <input
                    type="text"
                    class="form-control fw-bolder mb-2"
                    placeholder="Search..."
                    aria-label="search"
                    [(ngModel)]="search"
                  />
                </div>
                <div class="col"></div>
              </div>

              <div class="fw-bolder text-capitalize">
                <u>Invoices</u> : {{ totalNumberOfEntriesAll }}
              </div>
              <br />
              <!-- Table -->
              <table
                class="table table-bordered table-striped fw-bolder"
                *ngIf="invoiceDataAll?.length > 0; else no_data_content"
              >
                <thead class="thead-dark">
                  <tr>
                    <th class="fw-bolder text-capitalize">#</th>
                    <th class="fw-bolder text-capitalize">Invoice ID</th>
                    <th class="fw-bolder text-capitalize">Created Date</th>
                    <th class="fw-bolder text-capitalize">Supplier Name</th>
                    <th class="fw-bolder text-capitalize">Payment Type</th>
                    <th class="fw-bolder text-capitalize">Payment Status</th>
                    <th class="fw-bolder text-capitalize">Total</th>

                    <th class="fw-bolder text-capitalize">view</th>
                    <th class="fw-bolder text-capitalize">delete</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  <tr
                    *ngFor="
                      let medicine of invoiceDataAll
                        | search : search
                        | paginate : { itemsPerPage: 10, currentPage: p };
                      let i = index
                    "
                  >
                    <td class="fw-bolder text-capitalize">{{ i + 1 }}</td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.invoiceID }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.invoiceDate }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.supplierName }}
                    </td>

                    <td class="fw-bolder text-capitalize">
                      {{ medicine.paymentType }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{ medicine.paymentStatus }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      {{
                        medicine.grandTotalWithGST
                          | currency : "INR" : "symbol" : "1.2-2"
                      }}
                    </td>
                    <td class="fw-bolder text-capitalize">
                      <button
                        class="btn btn-sm btn-outline-dark text-capitalize fw-bolder"
                        (click)="viewInvoice(medicine._id)"
                      >
                        view
                      </button>
                    </td>
                    <td>
                      <button
                        class="btn btn-sm btn-danger text-capitalize fw-bolder"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        (click)="deleteMedicineById(medicine._id)"
                      >
                        delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #no_data_content class="fw-bolder"
                >No Invoices</ng-template
              >
              <pagination-controls
                (pageChange)="p = $event"
                *ngIf="groupedInvoicesBySpecificDate.length > 0"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
