<div style="margin-left: 17%; width: 90%">
  <button
    class="btn btn-dark fw-bolder"
    style="margin-bottom: 1%"
    routerLink="/invoice-home"
  >
    <i class="bi bi-arrow-left"></i> Back
  </button>
</div>
<div class="card" style="margin-left: 17%; width: 90%">
  <div class="container fw-bolder">
    <h5 class="mb-4 fw-bolder"></h5>
    <!-- Search input -->
    <div class="row">
      <div class="col-3">
        <input
          type="text"
          class="form-control fw-bolder mb-2"
          placeholder="Search..."
          aria-label="search"
          [(ngModel)]="search"
        />
      </div>
      <div class="col"></div>
    </div>

    <div class="fw-bolder text-capitalize">
      <u>Staff</u> : {{ totalNumberOfEntries }}
    </div>
    <br />
    <!-- Table -->
    <table
      class="table table-bordered table-striped fw-bolder"
      *ngIf="staffData.length > 0; else no_data_content"
    >
      <thead class="thead-dark">
        <tr>
          <th class="fw-bolder text-capitalize">#</th>
          <th class="fw-bolder text-capitalize">Staff Name</th>
          <th class="fw-bolder">PID</th>
          <th class="fw-bolder text-capitalize">type</th>
          <th class="fw-bolder text-capitalize">phone number</th>
          <th colspan="2" class="fw-bolder text-capitalize">view</th>
          <th class="fw-bolder text-capitalize">delete</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr
          *ngFor="
            let staff of staffData
              | search : search
              | paginate : { itemsPerPage: 10, currentPage: p };
            let i = index
          "
        >
          <td class="fw-bolder text-capitalize">{{ i + 1 }}</td>
          <td class="fw-bolder text-capitalize">
            {{ staff.title }}{{ staff.staffName }}
          </td>
          <td class="fw-bolder text-capitalize">{{ staff.pid }}</td>
          <td class="fw-bolder text-capitalize">
            {{ staff.type }}
          </td>
          <td class="fw-bolder text-capitalize">{{ staff.phone }}</td>
          <td class="fw-bolder text-capitalize" colspan="2">
            <button
              class="btn btn-sm btn-outline-dark text-capitalize fw-bolder"
              (click)="editStaffById(staff._id)"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
            >
              view
            </button>
          </td>
          <td>
            <button
              class="btn btn-sm btn-danger text-capitalize fw-bolder"
              (click)="deleteStaffById(staff._id)"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #no_data_content class="fw-bolder"
      >No staff data available</ng-template
    >
    <pagination-controls
      (pageChange)="p = $event"
      *ngIf="staffData.length > 0"
    ></pagination-controls>
  </div>
</div>

<!-- edit patient -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModal"
  aria-hidden="true"
>
  <div class="modal-dialog" style="width: 200%">
    <div class="modal-content" style="width: 130%">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModal">Edit Staff</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="editSessionByID()"
        ></button>
      </div>
      <div class="modal-body">
        <!-- edit -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="container">
              <form [formGroup]="staffForm">
                <div class="row">
                  <div class="col">
                    <label for="title" class="fw-bolder">Title</label>
                    <input
                      type="text"
                      class="form-control fw-bolder text-capitalize"
                      placeholder="title"
                      formControlName="title"
                    />
                    <div
                      *ngIf="staffForm.get('title')?.invalid"
                      style="color: red; font-size: small"
                    >
                      Required
                    </div>
                  </div>

                  <div class="col">
                    <label for="staffName" class="fw-bolder text-capitalize"
                      >Staff Name</label
                    >
                    <input
                      type="text"
                      class="form-control fw-bolder text-capitalize"
                      placeholder="Staff Name"
                      formControlName="staffName"
                    />
                    <div
                      *ngIf="staffForm.get('staffName')?.invalid"
                      style="color: red; font-size: small"
                    >
                      Required
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="type" class="fw-bolder text-capitalize"
                      >type</label
                    >
                    <input
                      type="text"
                      class="form-control fw-bolder text-capitalize"
                      placeholder="Type"
                      formControlName="type"
                    />

                    <div
                      *ngIf="staffForm.get('type')?.invalid"
                      style="color: red; font-size: small"
                    >
                      Required
                    </div>
                  </div>
                  <div class="col">
                    <label for="phoneNumber" class="fw-bolder text-capitalize"
                      >Phone Number</label
                    >

                    <input
                      type="text"
                      class="form-control fw-bolder text-capitalize"
                      placeholder="Phone number"
                      formControlName="phone"
                    />
                    <div
                      *ngIf="staffForm.get('phone')?.invalid"
                      style="color: red"
                    >
                      <small
                        *ngIf="staffForm.get('phone')?.errors?.['required']"
                        style="color: red"
                        >Required</small
                      >
                      <small
                        *ngIf="staffForm.get('phone')?.errors?.['pattern']"
                        style="color: red"
                        >Phone number must be 10 digits.</small
                      >
                    </div>
                  </div>
                  <div class="col">
                    <label for="Address" class="fw-bolder text-capitalize"
                      >Address</label
                    >

                    <input
                      type="text"
                      class="form-control fw-bolder text-capitalize"
                      placeholder="Address"
                      formControlName="address"
                    />
                    <div
                      *ngIf="staffForm.get('address')?.invalid"
                      style="color: red; font-size: small"
                    >
                      Required
                    </div>
                  </div>
                </div>
                <div class="align-items-center align-text-center mt-1">
                  <button
                    class="btn btn-success btn-sm d-flex align-items-center justify-content-center fw-bolder text-capitalize"
                    [disabled]="staffForm.invalid"
                    (click)="updateChanges()"
                    (keydown)="handleKeyboardEvent($event)"
                  >
                    <mat-icon *ngIf="!showProgressBar">save</mat-icon>
                    <span *ngIf="!showProgressBar">update</span>
                    <div
                      class="spinner-border text-light"
                      role="status"
                      *ngIf="showProgressBar"
                    >
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="container">
            <div
              class="alert alert-success fw-bolder text-capitalize"
              role="alert"
              *ngIf="showAlert"
            >
              <p class="alert-heading fw-bolder">
                Success! Staff details has been updated
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="editSessionByID()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal dialog to delete patient -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bolder text-capitalize" id="deleteModal">
          Delete doctor
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="deleteSessionByID()"
        ></button>
      </div>
      <div class="modal-body fw-bolder">
        Are you sure, you want to delete the staff entry?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger btn-sm fw-bolder text-capitalize"
          (click)="deleteStaff()"
        >
          <span *ngIf="!showDeleteProgressBar">yes</span>
          <div
            class="spinner-border text-light"
            role="status"
            *ngIf="showDeleteProgressBar"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-dark fw-bolderm text-capitalize"
          data-bs-dismiss="modal"
          #closeModal
          (click)="deleteSessionByID()"
        >
          no
        </button>
      </div>
    </div>
  </div>
</div>
