<form [formGroup]="invoiceForm" style="margin-left: 17%" id="noshow">
  <div class="row mb-3">
    <div class="col-md-3">
      <label for="customerName" class="fw-lighter">Patient Name</label>
      <input
        type="text"
        formControlName="patientName"
        (input)="onInputChange($event)"
        (keydown)="handlePatientNameKeyDown($event)"
        placeholder="Search for Patient"
        class="form-control fw-lighter"
      />
      <ul *ngIf="suggestionsPatientName.length > 0">
        <li
          *ngFor="let suggestion of suggestionsPatientName; let i = index"
          (click)="onSelectPatientName(suggestion)"
          [class.highlighted]="i === selectedPatientIndex"
        >
          {{ suggestion.patientName }}, {{ suggestion.patientAddress }}
        </li>
      </ul>
      <div
        *ngIf="showCreateNewPatientLink == true"
        style="color: red; font-size: small"
      >
        Create a new patient
      </div>
      <div
        *ngIf="invoiceForm.get('patientName')?.invalid"
        style="color: red; font-size: small"
      >
        Required
      </div>
    </div>
    <div class="col-md-3">
      <label for="invoiceDate" class="fw-lighter">Patient Address</label>
      <input
        formControlName="patientAddress"
        type="text"
        class="form-control fw-lighter"
        id="patientAddress"
        readonly
        style="background-color: lightgray"
      />
      <div
        *ngIf="invoiceForm.get('patientAddress')?.invalid"
        style="color: red; font-size: small"
      >
        Required
      </div>
    </div>
    <div class="col-md-2">
      <label for="invoiceDate" class="fw-lighter">PID</label>
      <input
        formControlName="pid"
        type="text"
        class="form-control fw-lighter"
        id="pid"
        readonly
        style="background-color: lightgray"
      />
      <div
        *ngIf="invoiceForm.get('pid')?.invalid"
        style="color: red; font-size: small"
      >
        Required
      </div>
    </div>
    <div class="col-md-3">
      <label for="consultantName" class="fw-lighter">Consultant Name</label>
      <select
        formControlName="consultantName"
        class="form-control fw-lighter dropdown-toggle text-capitalize"
      >
        <option value="null">Select Consultant</option>
        <option
          *ngFor="let doctor of doctorData"
          [value]="doctor.consultantName"
          selected
        >
          Dr.{{ doctor.consultantName }}
        </option>
      </select>
      <div
        *ngIf="invoiceForm.get('consultantName')?.invalid"
        style="color: red; font-size: small"
      >
        Required
      </div>
    </div>

    <div class="col-md-3">
      <label for="invoiceDate" class="fw-lighter">Invoice Date</label>
      <input
        formControlName="invoiceDate"
        type="date"
        class="form-control fw-lighter"
        id="invoiceDate"
        (keydown)="onKeyDown($event)"
      />
      <div
        *ngIf="invoiceForm.get('invoiceDate')?.invalid"
        style="color: red; font-size: small"
      >
        Required
      </div>
    </div>
    <div class="col-md-3">
      <label for="invoiceID" class="fw-lighter">Invoice ID</label>
      <input
        formControlName="invoiceID"
        type="text"
        class="form-control fw-lighter"
        id="invoiceID"
        readonly
        style="background-color: lightgray"
      />
      <!-- <a
        href="javascript:void(0);"
        class="fw-lighter"
        (click)="generateUniqueNumber()"
        >Generate</a
      > -->
    </div>
    <div class="col-md-2">
      <label for="paymentType" class="fw-lighter">Payment Type</label>
      <select
        class="form-select fw-lighter"
        formControlName="paymentType"
        (keyup)="onKeyUp($event)"
        (focus)="showOptions = true"
        (blur)="showOptions = false"
      >
        <option value="null">select payment type</option>
        <option value="UPI">UPI</option>
        <option value="CASH">CASH</option>
        <option value="NETBANKING">NETBANKING</option>
        <option value="CARD_DEBIT">CARD_DEBIT</option>
        <option value="CARD_CREDIT">CARD_CREDIT</option>
      </select>
      <div
        *ngIf="invoiceForm.get('paymentType')?.invalid"
        style="color: red; font-size: small"
      >
        Required
      </div>
    </div>
    <div class="col-md-2">
      <label for="paymentStatus" class="fw-lighter">Payment Status</label>
      <select class="form-select fw-lighter" formControlName="paymentStatus">
        <option value="null">select payment status</option>
        <option value="PAID">PAID</option>
        <option value="NOT_PAID">NOT PAID</option>
        <option value="PENDING">PENDING</option>
      </select>
      <div
        *ngIf="invoiceForm.get('paymentStatus')?.invalid"
        style="color: red; font-size: small"
      >
        Required
      </div>
    </div>
  </div>
  <hr />
  <div class="col fw-lighter" style="margin-left: 3%">
    Medicine
    <span style="margin-left: 17%">price &#8377;</span>
    <span style="margin-left: 10%">quantity</span>
    <span style="margin-left: 6%">mrp &#8377;</span>
    <span style="margin-left: 10%">sgst %</span>
    <span style="margin-left: 6%">total &#8377;</span>
  </div>

  <div formArrayName="items">
    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
      <div class="row fw-lighter" style="margin-top: 1%">
        {{ i + 1 }})
        <div class="col-3">
          <input
            type="text"
            formControlName="medicineName"
            (keyup)="onSearch($event, i)"
            (keydown)="handleKeyDown($event, i)"
            placeholder="Search for medicine"
            class="form-control fw-lighter"
          />
          <div style="color: red" *ngIf="noStockAlert[i]">
            no stock available
          </div>

          <!-- Check if suggestions exist and if they have length greater than 0 -->
          <div
            *ngIf="suggestions[i] && suggestions[i].length > 0"
            class="suggestion-list"
          >
            <ul class="list-unstyled">
              <li
                *ngFor="let suggestion of suggestions[i]; let j = index"
                (click)="onSelectMedicine(suggestion, i)"
                [ngClass]="{ highlighted: selectedSuggestionIndex === j }"
              >
                {{ suggestion.medicineName }}
              </li>
            </ul>
          </div>
          <button
            type="button"
            class="btn btn-link"
            [routerLink]="['/create-medicine']"
            *ngIf="showCreateNewMedicineLink[i]"
          >
            Not found, Check Medicine list
          </button>
        </div>
        <!-- col -->
        <div class="col">
          <input
            formControlName="price"
            placeholder="Price &#8377;"
            class="form-control fw-lighter"
            readonly
            style="background-color: lightgray"
          />
        </div>

        <div class="col">
          <input
            formControlName="quantity"
            placeholder="Quantity"
            type="text"
            class="form-control fw-lighter"
            (ngModelChange)="calculateTotal()"
            [readonly]="noStockAlert[i]"
            [ngStyle]="{
              'background-color': noStockAlert[i] ? 'lightgray' : 'white'
            }"
          />
        </div>
        <div class="col">
          <input
            formControlName="mrp"
            placeholder="mrp"
            type="text"
            class="form-control fw-lighter"
            readonly
            style="background-color: lightgray"
          />
        </div>
        <div class="col">
          <input
            formControlName="sgst"
            placeholder="sgst"
            type="text"
            class="form-control fw-lighter"
            readonly
            style="background-color: lightgray"
          />
        </div>

        <div class="col">
          <input
            formControlName="total"
            placeholder="Total &#8377; "
            type="text"
            class="form-control fw-lighter"
            (keydown.Tab)="addItem()"
            style="background-color: lightgray"
          />
        </div>
        <div class="col">
          <button
            class="btn btn-sm btn-danger fw-lighter"
            type="button"
            (click)="deleteItem(i)"
          >
            <mat-icon>restore_from_trash</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div class="fw-lighter" style="margin-bottom: 1%">
    Total : {{ total | currency : "INR" : "symbol" : "1.2-2" }}
  </div>

  <div class="fw-lighter" style="margin-bottom: 1%">
    GST Amount : {{ this.gstAmount | currency : "INR" : "symbol" : "1.2-2" }}
  </div>

  <!-- without GST -->
  <div
    class="fw-lighter"
    style="margin-bottom: 1%"
    *ngIf="clickedGSTlink == false"
  >
    Grand Total:
    {{ grandTotalWithOutGst | currency : "INR" : "symbol" : "1.2-2" }}
    <br />

    <button
      class="btn btn-sm btn-secondary fw-lighter"
      (click)="addGST()"
      *ngIf="showAddGSTButton == true"
      type="button"
    >
      Add gst
    </button>
  </div>
  <!-- with GST -->
  <div class="fw-lighter" style="margin-bottom: 1%" *ngIf="clickedGSTlink">
    Grand Total:
    {{ grandTotalWithGst | currency : "INR" : "symbol" : "1.2-2" }}
    <br />

    <button
      class="btn btn-sm btn-secondary fw-lighter"
      (click)="removeGST()"
      *ngIf="showAddGSTButton == false"
      type="button"
    >
      remove gst
    </button>
  </div>
  <hr />
  <div class="align-items-center align-text-center mt-1">
    <div class="d-flex align-items-center">
      <button
        class="btn btn-success btn-sm d-flex align-items-center justify-content-center fw-lighter me-2"
        [disabled]="invoiceForm.invalid"
        (click)="createInvoice()"
        *ngIf="!disableSaveButton"
        type="button"
      >
        <mat-icon *ngIf="!showProgressBar">save</mat-icon>
        <span *ngIf="!showProgressBar">Save</span>
        <div
          class="spinner-border text-light"
          role="status"
          *ngIf="showProgressBar"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>

      <button
        class="btn btn-primary btn-sm d-flex align-items-center justify-content-center fw-lighter me-2"
        type="button"
      >
        <mat-icon>print</mat-icon>
        <span>Print</span>
      </button>

      <button
        class="btn btn-success btn-sm d-flex align-items-center justify-content-center fw-lighter"
        (click)="newInvoice()"
        type="button"
      >
        New Invoice
      </button>
    </div>
  </div>
  <br />
  <div class="alert alert-success fw-lighter" role="alert" *ngIf="showAlert">
    Invoice created!!
  </div>
  <div
    class="alert alert-danger fw-lighter"
    role="alert"
    *ngIf="AlreadyInvoiceExist"
  >
    Invoice ID already exist!!!
  </div>
</form>

<!-- edit -->
<div id="hospitalDetails" class="d-none d-print-block">
  <form [formGroup]="invoiceForm">
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 text-center">
          <h4>SRI LAKSHMI MEDICALS</h4>
          <p>Chekku Mettu St, Kallakurichi</p>
        </div>
      </div>

      <!-- Invoice Details -->
      <div class="row">
        <div class="col-6">
          <p>
            <strong>Patient Name:</strong> {{ invoiceForm.value.patientName }}
          </p>
          <p><strong>PID:</strong> {{ invoiceForm.value.pid }}</p>
          <p>
            <strong>Consultant Name:</strong>
            Dr. {{ invoiceForm.value.consultantName }}
          </p>
        </div>
        <div class="col-6 text-right">
          <p><strong>Invoice ID:</strong> {{ invoiceForm.value.invoiceID }}</p>
          <p>
            <strong>Invoice Date:</strong>
            {{ invoiceForm.value.invoiceDate }}
          </p>
        </div>
      </div>

      <!-- Table for Invoice Items -->
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>SNo</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Batch</th>
            <th>Exp</th>
            <th>MRP</th>
            <th>SGST</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr
            *ngFor="let item of items.controls; let i = index"
            [formGroupName]="i"
          >
            <td>{{ i + 1 }}</td>
            <td>
              {{ item.get("medicineName")?.value }}
            </td>
            <td>
              {{ item.get("quantity")?.value }}
            </td>
            <td>
              {{ item.get("batch")?.value }}
            </td>
            <td>
              {{ item.get("expiryDate")?.value }}
            </td>
            <td>{{ item.get("mrp")?.value }}.00</td>
            <td>{{ item.get("sgst")?.value }}%</td>
            <td>{{ item.get("total")?.value }}.00</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-left: 80%">
        Total: {{ total | currency : "INR" : "symbol" : "1.2-2" }}
        <div *ngIf="clickedGSTlink == false">
          Grand Total:
          {{ grandTotalWithOutGst | currency : "INR" : "symbol" : "1.2-2" }}
        </div>
        <div *ngIf="clickedGSTlink == true">
          gstAmount:
          {{ this.gstAmount | currency : "INR" : "symbol" : "1.2-2" }}
          <br />
          Grand Total:
          {{ grandTotalWithGst | currency : "INR" : "symbol" : "1.2-2" }}
        </div>
        <br />
        <br />
        <br />
        <br />
        Signature
      </div>
    </div>
  </form>
</div>
